DEBUG = False
CLOUDVOLUME_URL = 'precomputed://gs://fafb-ffn1-20190805/segmentation/'
CLOUDVOLUME_URL_REMOTE = 'precomputed://gs://fafb-ffn1-20190805/segmentation/'
CLOUDVOLUME_SKELETONS = 'skeletons_32nm_nothresh'
GOOGLE_SEGMENTATION_STORAGE = "https://storage.googleapis.com/fafb-ffn1-20190805/segmentation"
DEFAULT_IMPORT_USER = 1
CONNECTORID_OFFSET = 13143730071000001
SQLITE3_DB_PATH = ''